<header>
<section class="hero is-primary is-fullheight is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHero">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHero" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">Home</a>
            <a class="navbar-item">Products</a>
            <a class="navbar-item">Sepcial Offers</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">{{ .Site.Params.titleHeader }}</h1>
      <h2 class="subtitle">{{ .Site.Params.subtitle }}</h2>
      <button class="button is-rounded is-success is-outlined is-pulled-left">{{ .Site.Params.headerBuyButton }}</button>
    </div>
  </div>
</header>
