<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item" style="font-weight:bold;"> Home</a>
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a href="#" class="navbar-tem is-active">Products</a>
                <a href="#" class="navbar-tem">About</a>
                <a href="#" class="navbar-tem">Shipping</a>
            </div>
        </div>
    </div>




</nav>
