<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="tile is-vertical">
                        <div class="tile">
                         Image
                        </div>
                        <div class="tile">
                          Image slider
                        </div>
                      </div>
                </div>
                <div class="column">
                    <p class="title">Product Title</p>
                    <p class="description">Product Description</p>
                    <p class="details">Product details Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, natus.</p>

                </div>
            </div>
        </div>
    </section>
</body>
