<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class='carousel carousel-animated carousel-animate-slide'>
                      <div class='carousel-container'>
                        <div class='carousel-item has-background is-active'>
                          <img class="is-background" src="https://wikiki.github.io/images/merry-christmas.jpg" alt="" width="640" height="310" />
                        </div>
                        <div class='carousel-item has-background'>
                          <img class="is-background" src="https://wikiki.github.io/images/singer.jpg" alt="" width="640" height="310" />

                        </div>
                        <div class='carousel-item has-background'>
                          <img class="is-background" src="https://wikiki.github.io/images/sushi.jpg" alt="" width="640" height="310" />

                        </div>
                        <div class='carousel-item has-background'>
                          <img class="is-background" src="https://wikiki.github.io/images/life.jpg" alt="" width="640" height="310" />

                        </div>
                      </div>
                      <div class="carousel-navigation is-overlay">
                        <div class="carousel-nav-left">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="carousel-nav-right">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>


                </div>
                <div align="center" class="column">
                    <p class="title">Best Selling Product</p>
                    <p class="description">Product Description</p>
                    <p class="details">Product details Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, natus.</p>
                    <button class="button is-success is-outlined is-rounded">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>

</body>
