<body>
    <!-- TODO: Make links clickable -->

    <div class="columns is-gapless">
        <div class="column">
            <div class="title has-background-primary">Top Category</div>
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </figure>
                <div class="box has-text-centered">
                    <a href="#" class="button is-success">Shop</a>
                </div>
        </div>
        <div class="column is-success">
            <div class="title has-background-success">Top Category</div>
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </figure>
                <div class="box has-text-centered">
                    <a href="/product" class="button is-success">Shop</a>
                </div>
        </div>
        <div class="column is-primary">
            <div class="title has-background-primary">Top Category</div>
            <figure class="image">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
            </figure>
                <div class="box has-text-centered">
                    <a href="#" class="button is-success">Shop</a>
                </div>
        </div>
    </div>
</body>
