<body>
    <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-horizontal">
            <article class="tile is-child notification is-primary">
              <p class="title">Featured Category</p>
              <p class="subtitle">Straight To the Bank</p>
              <figure class="image">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="" class="src">
              </figure>
            </article>
            <article class="tile is-child notification is-warning">
              <p class="title">Featured Category</p>
              <p class="subtitle">Young Money</p>
                 <figure class="image">
                     <img src="https://bulma.io/images/placeholders/128x128.png" alt="" class="src">
                 </figure>
                 <p class="tile is-4">
                     <a class="button is-outlined is-success">Shop</a>
                 </p>

            </article>
            <article class="tile is-child notification is-primary">
              <p class="title">Featured Category</p>
              <p class="subtitle">Making Bands</p>
              <figure class="image">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="" class="src">
              </figure>
            </article>
          </div>
        </div>
    </div>
</body>
